
@media only screen and (max-width: 1200px) {
    .header li a {
     font-size: .8em;
    }
  }
  
  @media only screen and (max-width: 950px) {
    .header li a {
     font-size: .6em;
    }
    .container, .container2{
        width: 90%;
      }
    
  }
  
  @media only screen and (max-width: 750px) {
    .header li a {
     font-size: .5em;
    }
    .container, .container2{
      width: 90%;
    }

    .col-1{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .logo img{
      width: 40%;
    }
    .col-1 .button .btn{
      padding: .5em 2em;
    }
    
    .text h1{
        /* width: 11em; */
        font-size: 1.5rem;
        line-height: 1.3em;
      }
  }
 
  @media only screen and (max-width:650px) {
    .container, .container2{
        width: 90%;
      }
    .header ul{
      position: fixed;
      font-size: 1.5em;
      display: none;
      flex-direction: column;
      height: 100vh;
      background-image: linear-gradient( #8ace90, #b774b4, #e6aca2);
      width: 100vw;
      z-index: 1;
      text-align: center;
    }
    .header ul li a{
      color: var(--white);
    }
    .header .fa-xmark{
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 1em;
      display: block;
    }
    .header .none{
      position: relative;
      display: block;
      color: var(--white);
      text-align: right;
      padding: 1em;
      font-size: 1.5em;
    }
    .col-1{
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: .5em;
    }
    .col-1 .button .btn{
      padding: .2em 1em;
    }

    .text .bg-success{
        margin-left: .2em;
      }

    .section5 .btn{
       margin-bottom: 1em;
      }
    
  }